* {
    box-sizing: border-box;
    border: 1px solid black;
    background: rgba(0,0,0,0.2);
}

.p_10 {
    padding: 10px;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

main {
    overflow-x: auto;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.vertical {
    padding: 10px;
    /*background: rgba(0, 0, 0, .5);*/
    display: inline-block;
    height: calc(100% - 6px);
    width: 200px;
    overflow-y: auto;
}

.horizontal {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    overflow-y: auto;
}

.horizontal:not(:last-child) {
    margin-bottom: 10px;
}

.h_50 {
    height: 50px;
}

.h_100 {
    height: 100px;
}

.h_150 {
    height: 150px;
}
